* {

	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

p {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

h2 {
	padding: 20px 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.header__nav {
	margin-top: 20px;
	background-color: #ffc000;
	border: 1px solid yellow;
	font-weight: 600;
}

.header__nav a.active {
	text-decoration: underline;
}

.container ul {

	padding: 20px;
	display: flex;
	gap: 20px;
}

.main__text {
	text-align: justify;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	width: 600px;
}

.right {
	text-align: justify;
	padding-left: 5px;
	width: 400px;
}

.main .container {
	display: flex;
}

.main img {
	margin: 10px 0;
	width: 600px;
}

table {
	margin-top: 10px;
	width: 500px;
}

td,
th {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	border-collapse: collapse;
}

th {
	background-color: #ebebeb;
}

.footer__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 20px;
	background-color: #ffc000;
	border: 1px solid yellow;
	font-weight: 600;
}

.footer__menu p {
	color: white;
}